/* all */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;;
}
.title{
    text-align: center;
    font-weight: 700;
}
p{
    color: #2e2e2e;
    line-height: 1.8em;
    font-weight: 300;
}
a{
    text-decoration: none;
}

/* header */
@media (min-width:768px ){
    .header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    /* margin-bottom: 100px; */
    box-sizing: border-box;
    line-height: 70px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .16);   
}

.left-content a,.right-content a{
    position: relative;
    text-decoration: none;
    margin: 0px 30px;
    transition: .3s;
}

.left-content a{
    font-size: 25px;
    font-weight: 900;
    color: #000;
}
.right-content a{
    font-weight: 500;
    color: #000;
}

.left-content a:hover, 
.right-content a:hover{
    color: #bae136;
}
.right-content a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:-15px;
    opacity: 0;
    right: 0px;
    left: 0px;
    background-color: #bae136;
    transition: .6s;
}
.right-content a:hover::after{
    opacity: 1;
    bottom:-5px;
}

label,input{
    display: none;
}
}

@media (max-width:768px ) {
    .header{
        height: 140px;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: 3px 0px 3px rgba(0, 0, 0, .16);
        text-align: center;
        position: fixed;
        background-color: #fff;
        z-index: 1;
        transform: translateY(-150%);
        transition: .5s ease-in-out;
    }
    .left-content{
        padding: 5px;
    }
    .right-content a{
        padding: 5px 0 ;
    }
    .right-content{
        display: flex;
        flex-direction: column;
    }
    #switch{
        position: absolute;
        opacity: 0;
    }
    label{
        position: relative;
        z-index: 3;
        display: block;
        width: 30px;
        height: 13px;
        margin: 15px auto;
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;
    }
    label::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
    }
    #switch:checked + .header{
        transform: translateY(0);
    }
}


/* page-banner */

.page-banner img{
    /* width: 100vw; */
    max-width :100%;
    
}
.page-banner h1{
    padding: 10px 0px 60px;
    text-align: center;
}

/* abstract */
.container{
    width: 680px;
    margin: 30px auto;
    display: flex;
    /* margin-bottom: 60px; */
    text-align: center;
}
.abstract{
    display: flex;
    justify-content: center;
}
.item{
    width: 180px;
    padding: 0px 20px;
    font-size: 14px;
}
.item-img{
    padding-bottom: 10px;
}

@media (max-width:768px ){
    .container{
        display: flex;
        text-align: center;
        width: 90vw;
    }
    .item{
        width: 100vw;
        height: 200px;
    }
}

/* content */
.content{
    padding-top: 30px;
    /* padding-bottom: 30px; */
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: left;
}
.content h2{
    margin-bottom: 20px;
    text-align: center;
}
.content h3{
    margin-bottom: 5px;
}
.content p{
    margin-bottom: 20px;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.img img{
    max-width: 100%;
    max-height: 100%;
}

@media (max-width:768px ){
    .img{
        display: block;
        width: 90vw;
    }
}

/* footer */

.footer{
    width: 768px;
    border-top: 1px solid #a8a8a8;
    margin: 100px auto 0px;
    padding: 10px 0;
    text-align: center;
    line-height: 2rem;
}

i{
    margin-right: 5px;
}


@media (max-width:768px ){
    .footer{
        width: 100vw;
        margin: 0;
    }
    
}