/* all */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;;
}
.title{
    text-align: center;
    font-weight: 700;
}
p{
    color: #a8a8a8;
    line-height: 1.8em;
}
a{
    text-decoration: none;
}

/* header */
@media (min-width:768px ){
    .header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
    line-height: 70px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .16);   
}

.left-content a,.right-content a{
    position: relative;
    text-decoration: none;
    margin: 0px 30px;
    transition: .3s;
}

.left-content a{
    font-size: 25px;
    font-weight: 900;
    color: #000;
}
.right-content a{
    font-weight: 500;
    color: #000;
}
.right-content a:nth-child(2){
    color: #bae136;
}
.left-content a:hover, 
.right-content a:not(:nth-child(2)):hover{
    color: #bae136;
}
.right-content a:not(:nth-child(2))::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:-15px;
    opacity: 0;
    right: 0px;
    left: 0px;
    background-color: #bae136;
    transition: .6s;
}
.right-content a:hover::after{
    opacity: 1;
    bottom:-5px;
}

label,input{
    display: none;
}
}

@media (max-width:768px ) {
    .header{
        height: 140px;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: 3px 0px 3px rgba(0, 0, 0, .16);
        text-align: center;
        position: fixed;
        background-color: #fff;
        z-index: 1;
        transform: translateY(-150%);
        transition: .5s ease-in-out;
    }
    .left-content{
        padding: 5px;
    }
    .right-content a{
        padding: 5px 0 ;
    }
    .right-content{
        display: flex;
        flex-direction: column;
    }
    #switch{
        position: absolute;
        opacity: 0;
    }
    label{
        position: relative;
        z-index: 3;
        display: block;
        width: 30px;
        height: 13px;
        margin: 15px auto;
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;
    }
    label::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
    }
    #switch:checked + .header{
        transform: translateY(0);
    }
}



/* article */
h2{
    text-align: center;
    margin-bottom:60px;
}

.container{
    width: 1024px;
    margin: auto;
    display: flex;
    margin-bottom: 60px;
}

.article{
    display: flex;
    width: 850px;
    height: 300px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 22px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.img{
    width: 50%;
    object-fit: fill;
    overflow: hidden;
    border-radius: 22px 0px 0px 22px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 22px 0px 0px 22px;
    transform: translateX(-40px);
}
.txt{
    position: relative;
    width: 50%;
    box-sizing: border-box;
    padding: 20px 20px;
}
.txt h3{
    margin-bottom: 10px;
}
.txt .btn{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

@media (max-width:768px ){
    .container{
        display: block;
        text-align: center;
        width: 100vw;
    }
    .item{
        width: 100vw;
        height: 200px;
    }
}

@media (max-width:768px ){
    h2{
        margin: 60px 0 ;
    }
    .article{
        position: relative;
        display: block;
        width: 90vw;
        height: 65vh;
    }
    .article .img{
        width: 100%;
        height: 50%;
        object-fit:cover;
        transform: translate(0);
        border-radius: 22px 22px 0 0 ;
    }
    .article .img img{
        transform: translateX(0);
        border-radius: 22px 22px 0 0 ;
    }
    .txt{
        position: unset;
        width: 100%;
    }
    .txt .btn{
        position: absolute;
        left: 0;
        right: 0;
    }
}

/* footer */

.footer{
    width: 768px;
    border-top: 1px solid #a8a8a8;
    margin: 100px auto 0px;
    padding: 10px 0;
    text-align: center;
    line-height: 2rem;
}

i{
    margin-right: 5px;
}


@media (max-width:768px ){
    .footer{
        width: 100vw;
        margin: 0;
    }
    
}